.loading, .loadingUserDetails, .loadingRepoDetails, .banner-sm {
  display: none;
}
.avatarImg {
  height: 40px;
  width: auto;
}

.userInfo p, .repos .header {
  cursor: pointer;
}

.banner {
  width: 100%;
  height: auto;
}

.banner-sm {
  float: left;
  margin-left:10px;
  margin-right: 10px;
  width: 96px;
  height: auto;
}

.banner-sm, .form-group {
  padding-top: 20px;
}

.repos {
  margin-top: 20px;
}


.glyphicon {
  font-size: 10px;
}
